/*#region BODY*/
body{
    background-color:#f3eae8;
}

.textBlack {
    color: #000 !important;
}

.textWhite {
    color: #FDF2F7 !important;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #005907; 
}

ul li {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 25px; 
    padding-bottom: 7px;
}

img{
    padding-left: 25px;
    max-width: 50%;
    height: auto; 
    border-radius: 7px;
}
/*#endregion BODY*/


/*#region dropdown*/

     /* Style du dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
            margin: 20px;
        }

        .dropbtn {
            background-color: #7c7974;
            color: white;
            padding: 10px 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 4px;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown-content.show {
            display: block;
        }

/* endregion  dropdown*/

/*#region footer*/

.content {
  flex: 1; 
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}
/* endregion  footer*/


/*#region RAPH*/
.photo {
    width: 200px;
    height: 200px !important;
}

#headerRaph {
    background-color: #82193B;
}

.bodyRaph {
    background-color: #4F081E !important;
    font-family: "Open Sans" !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #FDF2F7 !important;
}

.footerRaph {
    color: #FDF2F7;
    border: 10px solid #CC1C57;
    background: #82193B;
}

.espacement10 {
    margin-bottom: 10rem !important;
}
/*#endregion RAPH*/

/*#region SARAH*/

.bodySarah {
    text-align: center;
    background-color: #f8d7da !important;
}

.fontColorSarah {
    color: #4F081E;
}

.photoProfilSarah {
    width: 200px;
}

.logo {
    margin-left: 50px;
    width: 199px;
    height: 42px;
}

.bgLinearGradient {
    border-radius: 10px;
    background: linear-gradient(#4F081E, #CC1C57);
}

.iconSarah {
    width: 40px;
}

.listSarah {
    list-style-type: none;
}

.colorLinkSarah>a {
    color: #FBCFE4;
    text-decoration: #FBCFE4;
}

/*#endregion SARAH*/

/*#region MEDIAQUERIS*/
/*#endregion MEDIAQUERIS*/